@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400&display=swap');

body {
    font-family: 'Lora', serif;
    color: red;
    background-image: url('https://img.freepik.com/fotos-gratis/xicara-de-cafe-e-fones-de-ouvido-perto-de-partituras_23-2147781422.jpg?w=740&t=st=1728432526~exp=1728433126~hmac=241234f7898fc163f8091da9df7b1bda552301d05cfe31373f4d41ee8acbb1d5'); /* Substitua pela URL da sua imagem de música */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}
'); /* Substitua pela URL da sua imagem de música */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}
'); /* Substitua pela URL da sua imagem de música */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

